# 美國 ETF 迴歸資料整理

### 開啟檔案

In [282]:
import pickle
import pandas as pd
import datetime

In [283]:
with open('Total_score.pickle', 'rb') as file1:
    score = pickle.load(file1)
with open("/Users/daphne/JupyterProjects/ETF/迴歸/美國etf_VOX.pickle", 'rb') as file2:
    ETF = pickle.load(file2)
    ETF_index = ETF.reset_index()

In [284]:
ETF_index.head()

        Date       High        Low       Open      Close    Volume  Adj Close
0 2016-05-31  92.669998  91.989998  92.279999  92.389999  650300.0  84.752113
1 2016-06-01  92.419998  90.919998  92.309998  91.430000  420500.0  83.871483
2 2016-06-02  92.190002  91.099998  91.400002  92.190002  151900.0  84.568649
3 2016-06-03  92.019997  91.000000  91.889999  91.529999  221700.0  83.963211
4 2016-06-06  92.129997  91.599998  91.709999  91.730003  182700.0  84.146683

In [285]:
ETF['Change'] = ETF["Close"] - ETF["Open"]
ETF.head()

,High,Low,Open,Close,Volume,Adj Close,Change
Date,,,,,,,
2016-05-31,92.669998,91.989998,92.279999,92.389999,650300.0,84.752113,0.110001
2016-06-01,92.419998,90.919998,92.309998,91.430000,420500.0,83.871483,-0.879997
2016-06-02,92.190002,91.099998,91.400002,92.190002,151900.0,84.568649,0.790001
2016-06-03,92.019997,91.000000,91.889999,91.529999,221700.0,83.963211,-0.360001
2016-06-06,92.129997,91.599998,91.709999,91.730003,182700.0,84.146683,0.020004

### 1. 比對新聞與ETF開盤的共同日期
（確保數據可以對照）

In [286]:
cnt = 0
dates = []
for date in score.keys():
    #print('date', date)
    for d in ETF_index['Date']:
        #print(d)
        if date == d.date():
            dates.append(date)
            cnt+=1

#print(dates[0])
#print(dates)

In [287]:
cnt

236

### 2. 整理迴歸資料：日期、收盤價、波動幅度、情緒分數

In [288]:
reg_ETF = []

for d in dates:
    p = ETF.loc[d]["Close"]  # Y
    c = ETF.loc[d]["Change"]
    s = score[d]   # X
    ss = score[d]**2
    set = [d, p, c, s, ss]

    reg_ETF.append(set)
    
#print(reg_ETF)

### 3. 轉成 .csv

In [290]:
# list to csv
import csv
name = ['Date', 'Price', 'Change', 'Score', 'Square']
raw = pd.DataFrame(columns=name, data = reg_ETF)
print(raw)
raw.to_csv('reg_s_VOX.csv')

           Date      Price    Change  Score   Square
0    2018-06-15  86.750000  0.550003  -17.0    289.0
1    2018-06-18  86.489998  0.239998    3.0      9.0
2    2018-06-19  86.989998  1.189995 -282.0  79524.0
3    2018-06-20  86.940002 -0.529999  -44.0   1936.0
4    2018-06-21  86.220001 -0.930000  -57.0   3249.0
5    2018-06-22  86.750000  0.360001  -40.0   1600.0
6    2018-06-25  85.660004 -0.889999    6.0     36.0
7    2018-06-26  85.769997 -0.090004    4.0     16.0
8    2018-06-27  84.910004 -0.869995  -84.0   7056.0
9    2018-06-28  85.260002  1.029999  -50.0   2500.0
10   2018-06-29  84.919998 -0.389999  -38.0   1444.0
11   2018-07-02  85.190002  0.790001   -6.0     36.0
12   2018-07-03  84.750000 -0.629997    1.0      1.0
13   2018-07-05  86.389999  0.669998   -3.0      9.0
14   2018-07-06  87.370003  1.010002  -40.0   1600.0
15   2018-07-09  87.750000 -0.139999  -15.0    225.0
16   2018-07-10  88.029999  0.089996   30.0    900.0
17   2018-07-11  87.180000 -0.120003  -69.0   4761.0
18   2018-07-12  88.110001  0.779999  -85.0   7225.0
19   2018-07-13  87.889999 -0.139999  -41.0   1681.0
20   2018-07-16  87.660004 -0.169998   14.0    196.0
21   2018-07-17  87.500000  0.510002  -14.0    196.0
22   2018-07-18  86.980003 -0.349998    3.0      9.0
23   2018-07-19  86.300003 -0.519997   20.0    400.0
24   2018-07-20  85.970001 -0.290001  -23.0    529.0
25   2018-07-23  86.160004  0.250000    5.0     25.0
26   2018-07-24  86.849998 -0.450005   24.0    576.0
27   2018-07-25  86.680000 -0.019997   25.0    625.0
28   2018-07-26  85.300003  0.610001  -15.0    225.0
29   2018-07-27  84.650002 -0.820000   15.0    225.0
..          ...        ...       ...    ...      ...
206  2019-04-17  87.820000 -0.099998   13.0    169.0
207  2019-04-18  87.919998 -0.010002    3.0      9.0
208  2019-04-22  88.330002  0.580002   16.0    256.0
209  2019-04-23  89.150002  0.660004    3.0      9.0
210  2019-04-24  88.529999 -0.459999    1.0      1.0
211  2019-04-25  89.150002 -0.449997    3.0      9.0
212  2019-04-26  89.820000  0.510002   -1.0      1.0
213  2019-04-30  88.580002 -0.269997   17.0    289.0
214  2019-05-01  88.040001 -0.769997   24.0    576.0
215  2019-05-03  88.790001  0.690002    6.0     36.0
216  2019-05-06  88.839996  1.439995   -5.0     25.0
217  2019-05-07  87.550003 -0.629997   52.0   2704.0
218  2019-05-08  87.290001 -0.190002   40.0   1600.0
219  2019-05-09  87.209999  0.540001   42.0   1764.0
220  2019-05-10  87.309998  0.220001   32.0   1024.0
221  2019-05-13  84.989998 -0.830002  -57.0   3249.0
222  2019-05-14  85.180000 -0.150002  -17.0    289.0
223  2019-05-15  86.860001  2.020004   10.0    100.0
224  2019-05-16  87.589996  0.659996  -37.0   1369.0
225  2019-05-17  87.230003  0.330002    0.0      0.0
226  2019-05-20  86.419998 -0.300003    5.0     25.0
227  2019-05-21  87.230003  0.290001   20.0    400.0
228  2019-05-22  87.000000  0.070000   19.0    361.0
229  2019-05-23  85.860001 -0.300003  -34.0   1156.0
230  2019-05-24  85.949997 -0.320000  -12.0    144.0
231  2019-05-28  85.959999 -0.200005   15.0    225.0
232  2019-05-29  85.099998 -0.459999  -10.0    100.0
233  2019-05-30  85.160004 -0.089996   -2.0      4.0
234  2019-05-31  83.570000 -0.529999  -34.0   1156.0
235  2019-06-04  83.089996  1.009995   -2.0      4.0

[236 rows x 5 columns]